* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --hue: 132;
  --bg-color: hsla(var(--hue), 5%, 7%);
  --text-color: hsla(var(--hue), 40%, 98%, 1);
  --primary-color: hsla(var(--hue), 100%, 64%);
  --controls-bg-color: hsla(var(--hue), 0%, 14%);
  --button-secondary: hsla(var(--hue), 40%, 98%, 1);
  font-size: clamp(40%, 1% + 2vw, 65.5%);
}
.corButonFoco {
  background-color: red;
  color: blue;
}
html.light {
  --text-color: hsla(var(--hue), 5%, 7%);
  --colorButonSounds: hsla(var(--hue), 5%, 7%);
  --bg-color: hsla(var(--hue), 40%, 98%, 1);
  --controls-bg-color: hsla(var(--hue), 0%, 14%);
}
html.light .ph-sun,
html:not(.light) .ph-moon {
  display: none;
}
#toglle-mode {
  position: absolute;
  right: 3.2rem;
  top: 3.2rem;
  font-size: 3.2rem;
  border: none;
  color: var(--text-color);
  background-color: transparent;
  cursor: pointer;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  display: grid;
  height: 100vh;
  place-content: center;
  gap: 15px;
}
#app {
  display: grid;
  justify-items: center;
  gap: 35px;
}
.soudStyles {
  display: grid;
  grid-template-columns: 100px 100px;
  justify-content: space-around;
  margin-top: 35px;
  gap: 15px;
  height: 350px;
  padding: 15px;
}
.soudStyles button {
  height: 100px;
  width: 100px;
  background-color: rgb(167, 174, 180);
  border-radius: 15px;
  border: 0;
  cursor: pointer;
  font-size: 6.4rem;
}
.flex {
  display: flex;
}
#timer {
  font-size: 9.6rem;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  justify-content: center;
}
#controls {
  margin-top: 1.6rem;
  padding: 2.2rem 4rem;
  gap: 1.6rem;
  background-color: var(--controls-bg-color);
  border-radius: 999rem;
}
section button {
  background-color: transparent;
  border: 0;
  color: var(--primary-color);
  cursor: pointer;
  font-size: 6.4rem;
}
.secondary {
  color: var(--button-secondary);
}
/* controls */
.running .ph-play-circle,
.running .ph-timer,
.music-on .ph-speaker-none,
html:not(.running) .ph-pause-circle,
html:not(.running) .ph-stop-circle,
html:not(.music-on) .ph-speaker-high {
  display: none;
}
/* CLASSE UTILITARIA(ASSECIBILIDADE) */
.sr-only {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  border: 0;
  appearance: none;
}
@media (min-width: 750px) {
  body {
    display: grid;
    grid-template-columns: 600px 600px;
  }
}
